.traineeBody {
  width: 96%;
  margin: auto;
  padding: 20px 0;
}

.traineeDisplayCell {
  width: 100%;
  height: fit-content;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 3%;
}

.trainee {
  background-color: #eeeeee;
  color: #393e46;
  width: 100px;
  height: 20px;
  display: table-cell;
  text-align: center;
  margin-bottom: 8px;
}

.addButton {
  width: 100px;
  height: 20px;
  border: 1px solid #929aab;
  color: #393e46;
}
