.groupBody {
  width: 96%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.groupButton {
  align-self: center;
  background-color: #ea5455;
  color: white;
  text-align: center;
  border: none;
  height: 30px;
  padding: 0px 30px;
}

.tableContainer,
.groupTable {
  width: 100%;
}

.tableHead {
  background-color: #929aab;
  color: white;
  text-align: center;
}

.thead {
  height: 50px;
}

.tableBody {
  height: 70px;
  border: 1px solid #929aab;
  border-top: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5%;
  text-align: center;
}

.tbody {
  background-color: #eeeeee;
  color: #393e46;
  width: 80px;
  height: 25px;
  display: table-cell;
  text-align: center;
}

.headerContainer {
  padding: 12px 0;
}

.trainerTag {
  background-color: #eeeeee;
  color: #393e46;
  width: 80px;
  display: table-cell;
  text-align: center;
  margin-bottom: 8px;
  margin-right: 2px;
  float: right;
}
